<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925453507028-ju49jtlru7f5qnourmml5if4b4mtcfce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925453507028-ju49jtlru7f5qnourmml5if4b4mtcfce</string>
	<key>API_KEY</key>
	<string>AIzaSyBif_rRXcoQSzhVTd4SR7oQMGO_wIEMY3w</string>
	<key>GCM_SENDER_ID</key>
	<string>925453507028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.radaPoll</string>
	<key>PROJECT_ID</key>
	<string>rada-poll</string>
	<key>STORAGE_BUCKET</key>
	<string>rada-poll.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925453507028:ios:7b7b4b46a4535465c49e41</string>
</dict>
</plist>